  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= t('welcome.title') %></h1>
          <p class="lead text-body-secondary"><%= t('welcome.description') %></p>      
      </div>
    </div>
  </section>

<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        
      </div>
    </div>
  </div>

</main>